# grub.cfg - VyOS installed on the local disk:
#   copied into the ISO by iso_get_vyos to /claugine/grub.cfg
#   vyos-image-prepare writes it to the installed disk,
#   ${VYOS_VER} replaced by the installed version

load_env
insmod regexp
insmod efi_gop
insmod efi_uga

set timeout="5"
set default="0"

menuentry "VyOS ${VYOS_VER} Stream OpenNebula image" {
  linux "/boot/${VYOS_VER}/vmlinuz" boot=live rootwait noautologin net.ifnames=0 biosdevname=0 vyos-union=/boot/${VYOS_VER}
  initrd "/boot/${VYOS_VER}/initrd.img"
}
