# grub.cfg - Ubuntu Server ISO:
#   boot straight into autoinstall
#   copied into the ISO by iso_get_ubuntu to /boot/grub/grub.cfg

set timeout="0"
set default="0"

menuentry "Ubuntu Server autoinstall" {
  linux "/casper/vmlinuz" autoinstall ds=nocloud ---
  initrd "/casper/initrd"
}
